<!Doctype html>
<html>
 <h1> edit task</h1>
 <%= form_for(@task) do |f| %>
  <div><%= f.label :title %></div>
  <div><%= f.text_field :title %></div>
  <div><%= f.submit %></div>
  <%end%>
 <% link_to 'return' , new_task_path %>
 </html>